# Bytecodes and cache (Python)
__pycache__/
*.py[cod]
*$py.class
*.swp
*.old
*.sh

# Jupyter Notebook
.ipynb_checkpoints

tmp.ipynb

# Data and builds
*cache
build
data
models
outputs
*.csv
*.sh
mine/checkpoints/
*.log
*.targz
*.zip
check_csv_lines.py
train_flow.ipynb
*.yaml
*.png
*.txt
*.ckpt
*.jsonl
*.json
wandb/

*.pt